*{
	box-sizing: border-box;
}

.parent{
	height: 100vh;
	padding: 50px;
	position: relative;
	
	display: flex;
}

.column{
	width: 33%;
	background-color: wheat;
}

.column-1, .column-2{
	margin-right: 25px;
}

.container-1 {
	height: 11.19%;
	background-color: #4F4949;
}

.container-2 {
	margin-top: 35px;
	height: 54.63%;
	background-color: #4F4949;
}

.container-3 {
	margin-top: 35px;
	height: 19.45%;
	background-color: #4F4949;
}

.container-4 {
	height: 33.4%;
	background-color: #4F4949;
}

.container-5 {
	margin-top: 35px;
	height: 195px;
	background-color: #4F4949;
}

.container-6 {
	margin-top: 35px;
	height: 335px;
	background-color: #4F4949;
}

.container-7 {
height: 190px;
	background-color: #4F4949;
}

.container-8 {
	margin-top: 35px;
height: 190px;
	background-color: #4F4949;
}

.container-9 {
	margin-top: 35px;
	height: 450px;
	background-color: #4F4949;
}

