@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700&display=swap');

*{
	box-sizing: border-box;
}

body{
	font-family: Tektur, sans-serif;
	background-image: radial-gradient(at 45.3739936236834% 35.6080245845336%, hsl(255deg 30.76923076923077% 15.294117647058824% / 100%) 0%, hsl(255deg 30.76923076923077% 15.294117647058824% / 0%) 100%), radial-gradient(at 80.32018406652371% 54.784854115137406%, hsl(171.8181818181818deg 10.280373831775703% 41.96078431372549% / 100%) 0%, hsl(171.8181818181818deg 10.280373831775703% 41.96078431372549% / 0%) 100%), radial-gradient(at 39.076385796827815% 31.934564981189205%, hsl(0deg 0% 100% / 100%) 0%, hsl(0deg 0% 100% / 0%) 100%), radial-gradient(at 59.05820291895185% 54.41010154519616%, hsl(255deg 30.76923076923077% 15.294117647058824% / 100%) 0%, hsl(255deg 30.76923076923077% 15.294117647058824% / 0%) 100%), radial-gradient(at 68.45349814660413% 23.43972022935987%, hsl(171.8181818181818deg 10.280373831775703% 41.96078431372549% / 100%) 0%, hsl(171.8181818181818deg 10.280373831775703% 41.96078431372549% / 0%) 100%), radial-gradient(at 68.92255666526724% 16.626349344935765%, hsl(0deg 0% 100% / 100%) 0%, hsl(0deg 0% 100% / 0%) 100%), radial-gradient(at 99.39171327489152% 28.882179716594326%, hsl(255deg 30.76923076923077% 15.294117647058824% / 100%) 0%, hsl(255deg 30.76923076923077% 15.294117647058824% / 0%) 100%), radial-gradient(at 78.9783659546194% 24.21292669822297%, hsl(171.8181818181818deg 10.280373831775703% 41.96078431372549% / 100%) 0%, hsl(171.8181818181818deg 10.280373831775703% 41.96078431372549% / 0%) 100%), radial-gradient(at 72.78209315277171% 39.085376740428934%, hsl(0deg 0% 100% / 100%) 0%, hsl(0deg 0% 100% / 0%) 100%), radial-gradient(at 27.26711393216914% 53.01973547057961%, hsl(255deg 30.76923076923077% 15.294117647058824% / 100%) 0%, hsl(255deg 30.76923076923077% 15.294117647058824% / 0%) 100%);
}

a:visited {
	color: black;
}

.parent {
	display: flex;
	flex-direction: row;
	background-repeat: no-repeat;
	height: 100%;
	
}

.link-to-main {
	display: flex;
	width: 200px;
	height: 50px;
	background-color: #a9a9a9;
	border-radius: 10px;
	justify-content: center;
	text-decoration: none;
	align-items: center;
	color: inherit;
	margin-bottom: 1%;
	font-size: large;
}

.operations-of-summer {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	width: 90%;
	height: 330px;
	background-color: #a9a9a9;
	font-size: x-large;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 4%;
}

.functions-of-summer {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	width: 60%;
	height: 200px;
	background-color: #a9a9a9;
	font-size: x-large;
	padding: 10px;
	border-radius: 10px;
}

.application {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	width: 70%;
	height: 180px;
	background-color: #a9a9a9;
	margin-top: 3%;
	font-size: x-large;
	border-radius: 10px;
	padding: 1%;
}

.scheme {
	display: flex;
	box-sizing: border-box;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 5%;
	width: 600px;
	height: 600px;
}